.menu-icon{
  font-size: 1.2em;
  padding-left: 3px;
}
.clickable{
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.hover-blue:hover{
  color: #00a0d2;
}
.hover-red:hover{
  color: #e74c3c;
}
.hover-green:hover{
  color: #2ecc71;
}
.tree-title-collapse, .tree-title-expand{
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  display: inline;
}
.tree-title-expand:hover{
  color:rgb(42, 184, 42);
}
.tree-title-collapse:hover{
  color:#e74c3c ;
}
.tree-title-collapse + div{
  transition: all 0.1s ease-in-out;
}
.tree-title-collapse:hover + div{
  color:rgb(177, 177, 177);
}

.caret-down::before{
  margin-left: -12px;
  margin-top: 6px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  margin-right: .25rem;
}

.caret-left::before{
  margin-left: -8px;
  margin-top: 3px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  vertical-align: middle;
  margin-right: .25rem;
}

.tree{
  display: inline-block;
}